@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
    --app-width: 672px;
  }

  body {
    @apply bg-white text-black box-border w-full h-full;
  }

  h1 {
    @apply text-xl font-medium
  }

  span {
    @apply text-[#333333]
  }
}

@layer utilities {
  .app-width {
    @apply mx-auto;
    @apply max-w-full;
    @apply w-[var(--app-width)];
  }


  .clickable {
    @apply underline cursor-pointer;
    text-decoration-color: rgba(0, 0, 0, 0.3);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  .hover-bg {
    @apply hover:bg-[#F4F4F5] rounded-md p-2;
  }

  .text-details {
    @apply opacity-60
  }
}
